<form *ngIf="showAddTask" class="add-form" action="" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input type="text" id="text" name="text" [(ngModel)]="text" placeholder="Add Task" />
  </div>

  <div class="form-control">
    <label for="day">Day and Time</label>
    <input type="text" id="day" name="day" [(ngModel)]="day" placeholder="Add Day and Time" />
  </div>

  <div class="form-control form-control-check">
    <label for="reminder">Set Reminder</label>
    <input type="checkbox" id="reminder" name="reminder" [(ngModel)]="reminder" placeholder="Set Reminder" />
  </div>
  <input type="submit" value="Save Task" class="btn btn-block">

</form>
